* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*     background-color: rgb(220, 220, 220);
*/
body{
    background-color: rgb(204, 204, 204);
    height: 600px;
}

.s1{
    background-color: white;
    width: 600px;
    height: 600px;
    position: relative;
    top: 20px;
    left: 50px;
}

h1{
    background-color: rgb(220, 220, 220);
    width: 500px;
    text-align: center;
    position: relative;
    padding: 15px;
    top: 5px;
    left: 50px;
}

img{
    position: relative;
    top: 10px;
    left: 100px;
    height: 550px;
}

p{
    width: 400px;
    height: 500px;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 530px;
    left: 800px;
}